
.dialogs {
   display: grid;
  
    grid-template-areas: "diName me";
                      
  
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 20px;
    
}


.dialog_item {
    grid-area: diName;
    
    padding: 10px;
  
}

.messages {
    grid-area: me;
    padding: 10px;

}



.dialog {
    color: tomato;
}

 .active {
    color: white;

}

.dialog  a.activeLink {
    color: gold;
   
}

.postBlock {
    
    padding: 10px;
 
 } 
 
 .dialog_item :hover {
  transform: scale(1.08);
 }